body {
  background: transparent;
}

.niched-bg {
  background-color: #e7e7ee;
}

.dashboard-bg {
  background-color: white;
}
.topbar {
  background-color: white;
}

html {
  background-color: #e7e7ee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
